.button {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 5px;
  padding: 7px 29px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #df3642;
}

.button:focus {
  outline: #df3642 solid 3px;
  outline-offset: 2px;
}
