.main {
  padding: 37px 47px;
}

.page_title {
  margin-bottom: 22px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: var(--primary-color);
}

.page_subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #414141;
}
